<div class="container">
    <button ng-click="game.move('sw', $event)"> Move sw</button>
    <button ng-click="game.move('se', $event)"> Move se</button>
    <button ng-click="game.move('nw', $event)"> Move nw</button>
    <button ng-click="game.move('ne', $event)"> Move ne</button>
    <button ng-click="game.move('n', $event)"> Move n</button>
    <button ng-click="game.move('s', $event)"> Move s</button>
    <div class="canvas-container">
        <wesnoth-tiles model="model" show-cursor="true" on-hex-clicked="game.onHexClicked(hex)"
                       on-post-draw="game.onPostDraw(ctx)"></wesnoth-tiles>
    </div>
</div>
